checkpoints/*.pt filter=lfs diff=lfs merge=lfs -text
lfs_checkpoints/*.pt filter=lfs diff=lfs merge=lfs -text
lfs_checkpoints/*.mem filter=lfs diff=lfs merge=lfs -text
lfs_checkpoints/*.dna.json filter=lfs diff=lfs merge=lfs -text
